body {
  background: linear-gradient(to bottom right, #3899ee, #38e2ee);
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3e8188;
  color: #fff;
  padding: 10px 20px;
  position: static;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}

.hero {
  text-align: right;
  background: url(https://plus.unsplash.com/premium_photo-1661421687248-7bb863c60723?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fGludGVybmV0JTIwbmV0d29ya3xlbnwwfHwwfHx8MA%3D%3Dhttps://images.unsplash.com/photo-1451187580459-43490279c0fa?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGludGVybmV0JTIwbmV0d29ya3xlbnwwfHwwfHx8MA%3D%3Dhttps://images.unsplash.com/photo-1606814540563-5c02d62fd409?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGludGVybmV0JTIwbmV0d29ya3xlbnwwfHwwfHx8MA%3D%3Dhttps://images.unsplash.com/photo-1667372459607-2cfe842fdc4b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRhdGFiYXNlfGVufDB8fDB8fHwwhttps://images.unsplash.com/photo-1667372283536-a832e74401c2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRhdGFiYXNlfGVufDB8fDB8fHwwhttps://images.unsplash.com/photo-1667372459510-55b5e2087cd0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGRhdGFiYXNlfGVufDB8fDB8fHwwhthttps://images.unsplash.com/photo-1592480859808-9c93f6e8218e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNsb3VkJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3Dhttps://images.unsplash.com/photo-1451187580459-43490279c0fa?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGF0YSUyMGJhc2V8ZW58MHx8MHx8fDA%3Dtps://plus.unsplash.com/premium_photo-1683141114059-aaeaf635dc05?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWQlMjBjb21wdXRpbmd8ZW58MHx8MHx8fDA%3Dhttps://media.istockphoto.com/id/2178272269/es/foto/global-data-flow-and-connectivity-east-asia.jpg?s=612x612&w=0&k=20&c=VMDJFjppN8_e9SVH_r5p1fFEadbpahttps://images.unsplash.com/photo-1667372283536-a832e74401c2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2xvdWQlMjBjb21wdXRlcnxlbnwwfHwwfHx8MA%3D%3Dt8pjgkz6dZJYZE=)
    no-repeat center/cover;
  color: white;
  padding: 100px 100px;
}

.cta-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff4500;
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.features {
  padding: 40px 20px;
  text-align: center;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 10px 0;
}

.pricing {
  padding: 40px 20px;
  text-align: center;
}

.pricing-table {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.plan {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.plan ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

footer a {
  color: #00bcd4;
  margin: 0 10px;
  font-weight: bold;
}

footer a:hover {
  filter: brightness(70%);
}
